<strong> Olá, {{ provider }}</strong>
<p>Houve um cancelamenmto de horario, confira os detalhes a baixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }}<br/>
  <strong>Data/Hora: </strong> {{ date }}<br/>
  <br/>
  <small>
    O horario esta novamente disponivel para novos agendamnetos.
  </small>
</p>
